body{
    background-color:#0D0D42 !important;
}
main{
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: linear-gradient(to bottom right, #712998, yellow);
    min-height: 100vh;

}
.nav-link{
    font-size: 1.25em;
    
    color: #712998;
}
a{
    text-decoration: none;
    color: #EDCB4E;
}

.logo-name{
    color: #EDCB4E; 
}

.border-bottom{
    border-color: aqua !important;
}
.getlocation{
    min-width: 200px;
    background-color: #712998;
    border-color: yellow;
}



li{
    list-style-type: none;
}
.sun-icon{
    height: 70%;
    width: 70%;
}
